<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'urls_home:indexHome' %}">Hola {{user}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'urls_home:inicioUser' %}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'urls_clientes:detallesCuenta' user.id %}">Perfil</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'urls_habitaciones:HabitacionesDisponibles' %}">Habitaciones</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'urls_users:logout' %}">Cerrar sesion</a></li>
            </ul>
        </div>
    </div>
</nav>


    <!-- <a href="">Datos cliente</a> 
    <a href="{% url 'urls_clientes:detallesCuenta' user.id %}">Detalles de cuenta</a> 

    <!-- Los detalles de cliente muestra las habitaciones reservadas, las tarjetas de credito registradas y sus datos personales 
    <a href="{% url 'urls_clientes:registroTarjeta' %}">Registrar Tarjeta de Credito/debito</a>
    <a href="{% url 'urls_habitaciones:HabitacionesDisponibles' %}">Habitaciones</a>
    <a href="{% url 'urls_users:logout' %}">Cerrar sesion</a> -->