{% extends 'base.html' %}
{% load static %}

{% block title %}
    Areas registradas
{% endblock title %}

{% block css %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" />
{% endblock css %}

{% block body %}
    <div class="d-flex" id="wrapper">
        {% include 'sidebar.html' %}
        <div id="page-content-wrapper" class="w-100">
            {% include 'navbar.html' %}
            <div class="container-fluid p-4">
                <h1>Gestión de las áreas registradas</h1>
                <p>Lista de las áreas registradas, podran modificarlas y acceder a ellas.</p>
                
                <table class="table table-striped align-middle">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Horario</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="empleadosTableBody">
                        {% for a in areas %}
                            <tr>
                                <td>{{a.id}}</td>
                                <td>{{a.nombreArea}}</td>
                                <td>{{a.estado}}</td>
                                <td>{{a.horarioFuncionamiento}}</td>
                                <td>
                                    <a href="{% url 'urls_areas:ModificarArea' a.id %}" class="btn btn-sm btn-warning btn-action">Modificar</a>
                                    <a href="{% url 'urls_areas:EliminarArea' a.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <script src="{% static 'js/sidebar_toogle.js' %}"></script>
{% endblock body %}