{% extends 'base.html' %}
{% load static %}

{% block css %}
      <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" />
{% endblock css %}

{% block title %}
    Administrador
{% endblock title %}

{% block body %}

    <div class="d-flex" id="wrapper">
        {% include 'sidebar.html' %}


        <!-- Page content -->
        <div id="page-content-wrapper" class="w-100">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom">
            <div class="container-fluid">
            <button class="btn btn-outline-light" id="sidebarToggle">☰</button>
            <span class="navbar-brand ms-3">Dashboard Administrador</span>
            <div class="ms-auto text-white">Hola, {{user}}</div>
            </div>
        </nav>

        <!-- Main content -->
        <div class="container-fluid p-4">
            <h1>Bienvenido al Panel Centralizado</h1>
            <p>Supervisa el estado del hotel, gestiona las reservas, pagos, mantenimiento y mucho más desde este panel.</p>
        </div>

        </div>
    </div>

    <h1>Pantalla Administrador, Bienvenido {{user}}</h1>
    <a href="{% url 'urls_areas:RegistroArea' %}">Registro de area</a>
    <a href="{% url 'urls_administrador:RegistroEmpleado' %}">Registro del personal</a>
    <a href="{% url 'urls_administrador:ListadoEmpleados' %}">Lista de empleados</a>

    <a href="{% url 'urls_users:logout' %}">Cerrar sesion</a>

    <script src="{% static 'js/sidebar_toogle.js' %}"></script>


{% endblock body %}