{% extends 'base.html' %}
{% load static %}
{% block title %}
    Inicio
{% endblock title %}

{% block css %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" />
    <link href="{% static 'css/estilos_inicio.css' %}" rel="stylesheet" />
{% endblock css %}

{% block body %}

        <div class="page-container">

            <!-- Carga del header -->
            {% include 'header_user.html' %}

            <!-- Contenido principal -->
            <div class="content-wrap">

            </div>
            <!-- Carga del footer -->
            {% include 'footer_user.html' %}
        </div>

{% endblock body %}