{% extends 'base.html' %}
{% load static %}

{% block title %}
    Regsitro
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href=" {% static 'css/estilos_inicio.css' %}">
{% endblock css %}

{% block body %}
    <div class="page-container">

        <!-- Carga del header -->
        {% include 'header.html' %}

        <div class="content-wrap">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="card shadow-lg">
                            <!-- Encabezado del formulario -->
                            <div class="card-header text-center">
                                <h3>Crear una Cuenta</h3>
                            </div>
                            <!-- Cuerpo del formulario -->
                            <div class="card-body p-4">
                                <form method="post" novalidate>
                                    {% csrf_token %}

                                    <!-- Mensajes generales -->
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            {% for error in form.non_field_errors %}
                                                <div>{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="row" >
                                        <!-- Nombres -->
                                        <div class="col-md-6 mb-3">
                                            <label for="{{ form.nombres.id_for_label }}" class="form-label">Nombre(s)</label>
                                            {{ form.nombres }}
                                            {% for error in form.nombres.errors %}
                                                <div class="invalid-feedback d-block">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <!-- Apellidos -->
                                        <div class="col-md-6 mb-3">
                                            <label for="{{ form.apellidos.id_for_label }}" class="form-label">Apellidos</label>
                                            {{ form.apellidos }}
                                            {% for error in form.apellidos.errors %}
                                                <div class="invalid-feedback d-block">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>

                                    </div>

                                    <!-- Correo -->
                                    <div class="mb-3">
                                        <label for="{{ form.correo.id_for_label }}" class="form-label">Correo electrónico</label>
                                        {{ form.correo }}
                                        {% for error in form.correo.errors %}
                                            <div class="invalid-feedback d-block">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <!-- Contraseña -->
                                    <div class="mb-3">
                                        <label for="{{ form.contrasenia.id_for_label }}" class="form-label">Contraseña</label>
                                        {{ form.contrasenia }}
                                        {% for error in form.contrasenia.errors %}
                                            <div class="invalid-feedback d-block">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <!-- Confirmar contraseña -->
                                    <div class="mb-3">
                                        <label for="{{ form.confirmarContrasenia.id_for_label }}" class="form-label">Confirmar Contraseña</label>
                                        {{ form.confirmarContrasenia }}
                                        {% for error in form.confirmarContrasenia.errors %}
                                            <div class="invalid-feedback d-block">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <!-- Términos y botón -->
                                    <div class="form-check mb-4">
                                        <input class="form-check-input" type="checkbox" value="" id="terms" required>
                                        <label class="form-check-label" for="terms">
                                            Acepto los <a href="{% url 'urls_home:terminos' %}">términos y condiciones</a>.
                                        </label>
                                    </div>

                                    <button type="submit" class="btn btn-primary w-100">Registrarse</button>
                                </form>

                                <p class="text-center mt-3">
                                    ¿Ya tienes una cuenta? <a href="{% url 'urls_users:login' %}">Inicia Sesión</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carga del footer -->
        {% include 'footer.html' %}
    </div>
{% endblock body %}