{% extends 'base.html' %}

{% block title %}
    Detalles cuenta
{% endblock title %}

{% block body %}
    <h1>Detalles de la cuenta</h1>
    <!--Inicio de los dato personales registrados-->
    <h2>Datos personales registrados</h2>
    <p>Nombres: {{user.nombres}}</p>
    <p>Apellidos: {{user.apellidos}}</p>
    <p>Correo: {{user.correo}}</p>
    <a href="{% url 'urls_clientes:actualizarDatos' user.id %}">Editar Datos</a>
    <!--Fin de los dato personales registrados-->

    <!--Inicio de bloque para mostrar las habitaciones que tiene el usuario-->
    <h2>Habitaciones reservadas</h2>
    <ul>
        {% for h in habitacion %}
        <li>{{h.numeroHabitacion}}</li>
        <a href="{% url 'urls_clientes:DatosHabitacion' h.id %}">Detalles Habitacion</a>
        <form method="post" action="{% url 'urls_clientes:EliminarReservacion' h.id %}">
            {% csrf_token %}
            <button type="submit">Eliminar reservacion</button>
        </form>

        {% empty %}
        <h4>No tienes nunguna habitacion reservada.</h4>
        {% endfor %}
    </ul>
    <a href="{% url 'urls_habitaciones:HabitacionesDisponibles' %}">Agregar reservacion</a>
    <!--Fin de bloque para mostrar las habitaciones que tiene el usuario-->

    <!--Inicio para mostrar las tarjeatas registradas-->
    <h2>Tarjetas registradas</h2>
        <ul>
        {% for t in tarjeta %}
            <li>{{t}}</li>
            <a href="{% url 'urls_clientes:EliminarTarjeta' t.id %}">Eliminar tarjeta</a>
        {% empty %}
            <h4>No tienes nunguna tarjeta registrada.</h4>
        {% endfor %}
    </ul>
    
    <a href="{% url 'urls_clientes:registroTarjeta' %}">Agregar tarjeta</a>
    <!--Fin para mostrar las tarjeatas registradas-->
    


{% endblock body %}