{% extends 'base.html' %}
{% load static %}

{% block title %}
    Lista de Usuarios
{% endblock title %}

{% block css %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" />
{% endblock css %}

{% block body %}
    <div class="d-flex" id="wrapper">
        {% include 'sidebar.html' %}
        <div id="page-content-wrapper" class="w-100">
            {% include 'navbar.html' %}
            <div class="container-fluid p-4">
                <h1>Gestión de Clientes</h1>
                <p>Lista los clientes con opciones para modificar.</p>

                <table class="table table-striped align-middle">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Correo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="empleadosTableBody">
                        {% for u in usuarios %}
                            <tr>
                                <td>{{u.id}}</td>
                                <td>{{u.nombres}}</td>
                                <td>{{u.apellidos}}</td>
                                <td>{{u.correo}}</td>
                                <td>
                                    <a href="" class="btn btn-sm btn-warning btn-action">Modificar</a>
                                    <a href="{% url 'urls_administrador:EliminarCliente' u.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <script src="{% static 'js/sidebar_toogle.js' %}"></script>
{% endblock body %}