{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" />
{% endblock css %}

{% block title %}
    Catálogo de Cuartos - Hotel Manager
{% endblock title %}

{% block body %}
    <div class="d-flex" id="wrapper">

        {% include 'sidebar.html' %}

        <!-- Page content -->
        <div id="page-content-wrapper" class="w-100">

            <!-- Navbar -->
            {% include 'navbar.html' %}
            <!-- Contenedor de las habitaciones -->
            <div class="container-fluid p-4">
                <h1 class="mb-4">Catálogo de Cuartos</h1>
                    <!-- Busqueda por categoria -->
                    <h3 style="text-align: center;">Selecciona una categoria</h3>
                    <form method="get">{% csrf_token %}
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                            <select class="form-select" id="categoria" name="categoria" aria-label="Example select with button addon">
                                <option value="STANDART">Standart</option>
                                <option value="DELUXE">Deluxe</option>
                                <option value="EJECUTIVA">Ejecutiva</option>
                                <option value="SUITE">Suite</option>
                                <option value="PRESIDENCIAL">Presidencial</option>
                            </select>
                        </div>
                    </form>
                    


                    <!-- Fin de busqueda -->
                    <div class="row">
                        {% for h in habitaciones %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                {% if h.nivelHabitacion == 'STANDART' %}
                                    <img src="{% static 'img/st.jpg' %}" class="card-img-top" alt="Cuarto STANDART">
                                {% elif h.nivelHabitacion == 'DELUXE' %}
                                    <img src="{% static 'img/dl.jpg' %}" class="card-img-top" alt="Cuarto DELUXE">
                                {% elif h.nivelHabitacion == 'EJECUTIVA' %}
                                    <img src="{% static 'img/ej.jpg' %}" class="card-img-top" alt="Cuarto EJECUTIVA">
                                {% elif h.nivelHabitacion == 'SUITE' %}
                                    <img src="{% static 'img/suite.jpg' %}" class="card-img-top" alt="Cuarto SUITE">
                                {% elif h.nivelHabitacion == 'PRESIDENCIAL' %}
                                    <img src="{% static 'img/prl.jpg' %}" class="card-img-top" alt="Cuarto PRESIDENCIAL">
                                {% endif %}
                                <div class="card-body">
                                    {% if h.nivelHabitacion == 'STANDART' %}
                                        <h5 class="card-title">Cuarto Estándar</h5>
                                        <p style="color: black;">
                                            Numero de habitacion: {{h.numeroHabitacion}}, Estado :{{h.estadoHabitacion}} 
                                        </p>
                                    {% elif h.nivelHabitacion == 'DELUXE' %}
                                        <h5 class="card-title">Cuarto Deluxe</h5>
                                        <p style="color: black;">
                                            Numero de habitacion: {{h.numeroHabitacion}}, Estado :{{h.estadoHabitacion}} 
                                        </p>
                                    {% elif h.nivelHabitacion == 'EJECUTIVA' %}
                                        <h5 class="card-title">Cuarto Ejecutiva</h5>
                                        <p style="color: black;">
                                            Numero de habitacion: {{h.numeroHabitacion}}, Estado :{{h.estadoHabitacion}} 
                                        </p>
                                    {% elif h.nivelHabitacion == 'SUITE' %}
                                        <h5 class="card-title">Cuarto Suite</h5>
                                        <p style="color: black;">
                                            Numero de habitacion: {{h.numeroHabitacion}}, Estado :{{h.estadoHabitacion}} 
                                        </p>
                                    {% elif h.nivelHabitacion == 'PRESIDENCIAL' %}
                                        <h5 class="card-title">Cuarto Presidencial</h5>
                                        <p style="color: black;">
                                            Numero de habitacion: {{h.numeroHabitacion}}, Estado :{{h.estadoHabitacion}} 
                                        </p>
                                    {% endif %} 
                                    
                                    <a href="{% url 'urls_habitaciones:ActualizarHabitacion' h.id %}" class="btn btn-primary">Administrar</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Paginacion de las habitaciones -->
                            <div class="pagination">
                                <span class="step-links">
                                    {% if page_obj.has_previous %}
                                        <a href="?page=1">&laquo; first</a>
                                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>

                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>

            </div>
        </div>
    </div>

    <script src="{% static 'js/sidebar_toogle.js' %}"></script>

{% endblock body %}

