{% extends 'base.html' %}

{% block title %}
    Detalles habitacion
{% endblock title %}

{% block body %}
    {{user}}
    <h1>Detalles de la habitacion {{habitacion.numeroHabitacion}}</h1>
    
    <div>
        {% if tiene_tarjeta %}
        <form method="post" action="{% url 'urls_habitaciones:reservar_habitacion' habitacion.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Reservar</button>
        </form> 
        {% else %}
        <a href="{% url 'urls_clientes:registroTarjeta' %}" class="btn btn-primary">Registrar tarjeta</a>
        <form method="post" action="{% url 'urls_habitaciones:reservar_habitacion' habitacion.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" disabled>Reservar</button>
        </form> 
        {% endif %}
    </div>

{% endblock body %}

