{% extends 'base.html' %}
{% load static %} 

{% block title %}
    Habitaciones
{% endblock title %}

{% block body %}
    <h1>Habitaciones</h1>
    <div class="container-lg">
        {% for h in habitaciones %}
            <div class="card" style="width: 18rem;">

                {% if h.nivelHabitacion == 'STANDART' %}
                    <img src="{% static 'img/st.jpg' %}" class="card-img-top" alt="...">
                {% elif h.nivelHabitacion == 'DELUXE' %}
                    <img src="{% static 'img/dl.jpg' %}" class="card-img-top" alt="...">
                {% elif h.nivelHabitacion == 'EJECUTIVA' %}
                    <img src="{% static 'img/ej.jpg' %}" class="card-img-top" alt="...">
                {% elif h.nivelHabitacion == 'SUITE' %}
                    <img src="{% static 'img/suite.jpg' %}" class="card-img-top" alt="...">
                {% elif h.nivelHabitacion == 'PRESIDENCIAL' %}
                    <img src="{% static 'img/prl.jpg' %}" class="card-img-top" alt="...">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{h.nivelHabitacion}}</h5>
                    <p class="card-text">
                        Numero de habitacion: {{h.numeroHabitacion}}
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>
{% endblock body %}